@import './_variables.scss';

body,
html {
    background-color: #EBF2FF;
    font-size: 12px;
    display: inline-block;
}

/*单行溢出*/
.one-txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*多行溢出 手机端使用*/
.txt-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
}

@mixin txt-content {
    display: flex;
    /*盒子模型*/
    flex-direction: row;
    /*横向*/
    justify-content: space-around;
    /*主轴居中*/
    align-items: center;
    /*纵轴居中*/
}

/*多行溢出 手机端使用*/
.txt-content {
    display: flex;
    /*盒子模型*/
    flex-direction: row;
    /*横向*/
    justify-content: space-around;
    /*主轴居中*/
    align-items: center;
    /*纵轴居中*/
}


@mixin but-height {
    height: 32px !important;
}


/*深色按钮*/
.operation-dark-but {
    min-width: $ButWidth;
    height: 32px !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #15163d !important;
    color: #ffffff !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: $ButWidth;
            height: 32px !important;
            border: 1px solid #ffffff !important;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #ffffff !important;
            color: #15163d !important;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 32px !important;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*深白按钮*/
.operation-light-but {
    min-width: $ButWidth;
    height: 48px !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: $ButWidth;
            height: 48px !important;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #e6e6ee;
            color: #15163d;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 48px !important;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*自适应深白按钮*/
.adaptive-light-but {
    width: 100%;
    height: 32px !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding: 0;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            height: 32px !important;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #e6e6ee;
            color: #15163d;
            text-align: center;
            width: 100%;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        width: 100%;
        height: 32px !important;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*白色hover*/
.operation-lightblue-but {
    min-width: $ButWidth;
    height: 48px !important;
    border: 1px solid #ffffff !important;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #15163d !important;
    color: #ffffff !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: $ButWidth;
            height: 48px !important;
            border: 1px solid #ffffff !important;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #35366d !important;
            color: #ffffff;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 48px !important;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*框呗白色按钮*/
.operation-lightBox-but {
    min-width: 250px;
    height: 32px !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding: 0;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: 250px;
            height: 32px !important;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #e6e6ee;
            color: #15163d;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 32px !important;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*购买白色按钮*/
.operation-buyBox-but {
    min-width: 250px;
    width: 100%;
    height: 48px !important;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: 250px;
            height: 48px !important;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #e6e6ee;
            color: #15163d;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 48px !important;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}


/*切换网络*/
.network-lightblue-but {
    min-width: $ButWidth;
    height: 40px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #15163d;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

    @media screen and (min-width: $MobileWidth-M) {
        &:hover {
            min-width: $ButWidth;
            height: 40px;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: #35366d;
            color: #ffffff;
            text-align: center;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        min-width: $BoxButWidth-M;
        height: 40px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #15163d;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*警告弹窗*/
.Alert-err {
    width: 100%;
    max-width: 1400px;
    height: auto;
    min-height: 84px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99999;

    .ant-alert-info {
        width: 400px;
        margin: 22px 26px;

        @media screen and (max-width: $MobileWidth-M) {
            max-width: 82%;
        }
    }
}


/*弹窗样式*/
.ant-modal-content {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.ant-btn {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.ant-btn[disabled] {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}


.ant-tooltip {
    max-width: 320px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    .ant-tooltip-inner {
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        line-height: 16px;
        padding: 12px 12px 8px;
    }
}

/*message 弹窗样式*/
.ant-message {
    margin-top: 20vh;
}