/* css 变量配置*/

$TitleFontSize: 36px; // title 字体
$TitleFontSize-M: 36px; // title 字体
$NavFontSize: 12px; // 导航 字体
$NavFontSize-M: 12px; // 导航 字体
$MobileWidth: 768px; // 移动端适配宽度
$MobileWidth-M: 960px; // 移动端适配宽度
$BoxButWidth: 250px; // 框内按钮 输入框宽度
$BoxButWidth-M: 98%; // 移动端框内按钮 输入框宽度
$BoxContentWidth: 92%; // 移动端框内按钮 输入框宽度
$ButWidth: 310px; // 输入框 按钮宽度
$UnlockWalletButWidth: 300px; // 解锁钱包按钮宽度
$MaxWidth: 1140px; // 页面展示区域宽度
$BgColor: #1D1229; // 背景颜色
$DarkColor: #30154F; // 深色主题色
$ButColor: #4A019C; // 按钮颜色

//