@import './_variables.scss';

.border-list-style {
    max-width: $MaxWidth;
    width: 100%;
    margin: 34px auto 32px 0;
    display: table;
    overflow: hidden;

    .item {

        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        border-radius: 20px;
        height: 100%;
        display: table-cell;

        @media screen and (max-width: $MobileWidth-M) {
            width: 100%;
            display: block;

        }

        .item-content {
            margin: 3px;
            width: calc(100% - 6px);
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 0 6px 12px 6px;
            border-radius: 15px;
            display: inline-block;
        }

    }


    .item:first-child {
        float: left;
    }

    .item:last-child {
        float: right;
    }

    @media screen and (max-width: $MobileWidth-M) {
        .item:first-child {
            margin: 0 auto;
            display: inherit;
            float: inherit;
            width: 92%;
        }

        .item:last-child {
            margin: 0 auto;
            display: inherit;
            float: inherit;
            width: 92%;
        }

    }

    .rate {
        width: auto;
        min-width: 192px;
        overflow: hidden;
        float: left;
        padding: 24px 24px 0 24px;

        .amount {
            font-weight: normal;
            font-size: 22px;
            line-height: 34px;
            text-align: center;
            color: #ffffff;
        }

        .text {
            font-weight: normal;
            font-size: 12px;
            line-height: 26px;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 32px;
        }
    }

    @media screen and (max-width: $MobileWidth-M) {
        .rate {
            padding-bottom: 12px;
            width: 100%;

            .amount {
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
                text-align: center;
                color: #ffffff;
            }

            .text {
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 32px;
            }
        }
    }
}

.border-style {
    max-width: $MaxWidth;
    width: 100%;
    margin: 34px auto 32px 0;
    display: table;
    overflow: hidden;

    .item-style {
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        border-radius: 20px;
        height: 100%;
        display: table-cell;

        .item-content {
            margin: 3px;
            width: calc(100% - 6px);
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 0 6px 12px 6px;
            border-radius: 15px;
            display: inline-block;
        }
    }



}

.apy111 {
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 34px;
    margin: 6px 22px;
    padding: 0 16px;

    span {
        color: #ffffff;
        font-size: 16px;
        line-height: 34px;
        align-items: center;
        /*纵轴居中*/
    }
}