.borrowing {
    width: 320px !important;
    background: #EBF2FF !important;
    border-radius: 10px !important;
    padding-bottom: 0px !important;

    .ant-modal-content {
        background: #EBF2FF !important;

        .ant-modal-body {
            padding: 0;
        }
    }

    .borrowing-content {
        overflow: hidden;

        .title {
            height: 50px;
            width: 100%;
            border-bottom: 1px solid #FFFFFF;
            position: relative;

            .title-content {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                }

                span {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 50px;
                    display: table-cell;
                    vertical-align: middle;
                    color: #1C3C78;
                    height: 50px;
                    margin-left: 15px;

                }
            }

            .close {
                position: absolute;
                right: 16px;
                top: 14px;
                color: #1C3C78;
                cursor: pointer;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }

        }

        .amount {
            margin: 30px 30px 40px 30px;
            padding: 12px 14px;
            display: flex;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.5);


            .ant-input-number-focused {
                outline: none !important; // 去除选中状态边框

                input {
                    color: #1C3C78;
                    font-weight: 600;
                    font-size: 18px;
                    text-align: left;
                    border: 0; // 去除未选中状态边框
                    outline: none !important; // 去除选中状态边框
                    background-color: rgba(0, 0, 0, 0); // 透明背景
                }
            }

            .ant-input-number {
                border: none;
                width: calc(100% - 60px);
                outline: none !important; // 去除选中状态边框
                border-bottom: 1px solid #4979D5;

                .ant-input-number-handler-wrap {
                    display: none !important;
                }

                input {
                    color: #1C3C78;
                    font-weight: 600;
                    font-size: 18px;
                    text-align: left;
                    border: 0; // 去除未选中状态边框
                    outline: none !important; // 去除选中状态边框
                    background-color: rgba(0, 0, 0, 0); // 透明背景
                }

                input:focus,
                textarea:focus {
                    outline: none;
                }

                input::-ms-clear {
                    display: none;
                }
            }

            .max {
                font-size: 12px;
                line-height: 24px;
                color: #FFFFFF;
                height: 24px;
                background: linear-gradient(88.91deg, #15C4C0 27.28%, #4979D5 98.8%),
                    #FFFFFF;
                border-radius: 5px !important;
                cursor: pointer;
                min-width: 60px;
                text-align: center;
                margin-top: 6px;
            }
        }

        .tab {

            .tab-but {
                padding: 10px 30px;
                display: flex;
                justify-content: space-between;

                .ant-btn {
                    height: 30px;
                    min-width: 100px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #1C3C78;
                    border-radius: 2px !important;

                    span {
                        text-align: center;
                        width: 100%;
                        line-height: 30px;
                    }
                }

                .active {
                    background: #FFFFFF;
                }

            }

            .tab-page {
                margin: 10px 30px 20px 30px;
                background: #FFFFFF;
                border-radius: 5px;
                padding: 16px 18px;

                .data-item {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    line-height: 20px;
                    color: #1C3C78;
                    margin: 6px;

                    div {
                        display: flex;
                        align-items: center;
                        text-align: left;


                        img {
                            width: 18px;
                            height: 18px;
                            margin-right: 8px;
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        text-align: right;
                    }
                }

                .divider {
                    border-top: 1px solid #E5E5E5;
                    border-bottom: 1px solid #E5E5E5;
                    padding: 5px 0;
                    margin-top: 30px;
                }

                .checkbox {
                    position: relative;
                    display: table;
                    height: 24px;
                    margin: -20px auto 0 auto;
                    min-width: 150px;


                    .ant-checkbox-wrapper {
                        position: absolute;
                        right: 0;
                        color: #1C3C78;
                        font-size: 12px;
                    }
                }

                .but {
                    min-width: 150px;
                    height: 30px;
                    background: linear-gradient(88.91deg, #15C4C0 27.28%, #4979D5 98.8%),
                        #FFFFFF;
                    border-radius: 5px !important;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    border: none;
                    font-size: 18px;
                    color: #FFFFFF;
                    margin: 26px auto;

                    span {
                        width: 100%;
                        text-align: center;
                    }
                }

            }
        }

    }
}